# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target
sun/*

/.idea/*
/output.log
/.gitignore

output.log.2018-03-15
output.log.2018-03-17
src/main/java/sun/
/src/main/java/sun/test/
